.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;    
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 100%, 50%);
}

#box2{
    background-color: hsl(66, 62%, 68%);
}

#box3{
    background-color: hsl(110, 53%, 58%);
}

#box4{
    background-color: hsl(200, 65%, 49%);
}
