body{
    margin: 0;
}



.box{
    width: 500px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;

    transform: translateX(100px) rotate(45deg) scale(0.5);
    
}

#box1{
    background-color: hsl(120, 45%, 78%);
}

#box2{
    background-color: hsl(7, 65%, 58%);
}

#box3{
    background-color: hsl(209, 74%, 37%);
}


img{
    width: 150px;
  
    transform: translateX(100%) rotateZ(180deg) scaleX(2);
}