.icons {
    text-align: center;
}

.icons a{
    text-decoration: none;
    margin-right: 20px;
}

/* Home */
.fa-solid.fa-house {
    color: hsl(0, 0%, 66%);
}

/* Facebook */
.fa-brands.fa-facebook {
    color: hsl(221, 44%, 41%);
}

/* YouTube */
.fa-brands.fa-youtube {
    color: hsl(0, 100%, 50%);
}

/* Google */
.fa-brands.fa-google {
    color: hsl(217, 89%, 61%);
}

/* Hover effect */
.icons i:hover {
    opacity: 0.7;
    cursor: pointer;
}